.link {
    font-size: 18px;
    letter-spacing: 0.05rem;
    font-weight: 400;
}

.link:hover {
    text-decoration: underline;
    transition: width 0.3s ease;
}

/* .link::before,
.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

.link::before {
    transform-origin: right;
    left: 50%;
}

.link::after {
    right: 50%;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after {
    width: 50%;
} */