.header {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 72px;
    top: 0;
}

.container {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 16px 32px;
    height: 72px;
}

.navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu li>a {
    color: #222021;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1.2rem;
}


.menu-left {
    display: flex;
    justify-content: flex-start;
}

.menu-center {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    /* Aligner les éléments à droite */
}